/*
  Arjun Sajeev
  http://www.arjunsajeev.com
*/

html{
 background: url('../img/christmas.jpg') no-repeat center center fixed;
 background-size:cover;
 color:white;
 overflow: hidden;
}

.message{
 margin-top:6%;
 padding:1em;
 margin-left: auto;
 margin-right: auto;
 text-align:center;
 font-family: 'Lobster', cursive;
 text-transform:uppercase;
 color:#fff;
 font-size:2.0em;
 animation-delay: 4.0s;
 animation-duration: 2.0s;
 margin-bottom: 0;
}


a:link{
  color:inherit;
  text-decoration: none;
}
